@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
}


a {
    color: white;
}

.login {
    text-align: center;
}

.register {
    text-align: center;
}

h1 {
    text-align: center;
}

.button {
    position: center;
}

.error {
    color: red;
}

.info {
    color: blue;
}

.hidden {
    display: none;
}

.sch {
    text-align: left;
}

.tas {
    text-align: right;
}

.selector {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border: solid black 1px;
    padding: 5px 5px;
}

.backtoprofile {
    float: right;
    margin-right: 5%;
}

.logoutbutton {
    float: right;
    margin-right: 5%;
}

/* LIST #1 */
#profile-content {
}

#profile-content ul {;
    list-style: none;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 12px 0;
    max-width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}

#profile-content ul li {
    display: inline;
    text-transform: uppercase;
    padding: 0 10px;
    letter-spacing: 10px;
}

#profile-content ul li a {
    text-decoration: none;
    color: #eee;
}

#profile-content ul li a:hover {
    text-decoration: underline;
}


